<br-menu
   show-menu="true"
   is-push="true"
   density="small"
   list="[
    {
      'id': 1,
      'icon': 'bell',
      'name': 'Menu Admin 1',
      'isSpaLinkBehavior': 'true',
      'url': '/input'
    },
    {
      'id': 2,
      'icon': 'bell',
      'name': 'Menu Admin 2',
      'isSpaLinkBehavior': 'true',
      'url': '/input'
    },
    {
      'id': 3,
      'icon': 'bell',
      'name': 'Menu Admin 3',
      'isSpaLinkBehavior': 'true',
      'url': '/input'
    }
  ]">
</br-menu>
