<br-breadcrumb [links]="breadcrumb"></br-breadcrumb>
<br-divider size="medium" class="mt-0"></br-divider>
<div class="p-5">
   <h2 class="text-bold text-blue-vivid-60 mt-0 mb-4 pb-0">Cadastrar nova unidade</h2>

   <form [formGroup]="formGroup" (ngSubmit)="salvar()">
      <!-- tipo/gerenciadora -->
      <div class="row mb-2">
         <div class="col-6">
            <div class="br-select">
               <div class="br-input">
                  <label>Tipo de Unidade</label>
                  <br>
                  <select formControlName="tipo" (change)="selecionaGerenciadora()" class="select">
                     <option *ngFor="let uni of tipoUnidade" [value]="uni.item">{{uni.value}}</option>
                  </select>
               </div>
            </div>
         </div>
         <div class="col-6">
            <ng-container *ngIf="!validarUc">
               <div class="br-select">
                  <div class="br-input">
                     <label>Reporta-se</label>
                     <br>
                     <select formControlName="idUnidadeGerenciadora" >
                        <option *ngFor="let unidade of unidadesGerenciadoras"
                                [value]="unidade.id">{{unidade.nome}}</option>
                     </select>
                  </div>
               </div>
            </ng-container>
         </div>
      </div>

      <!-- nome/cep -->
      <div class="row mb-2">
         <div class="col-8">
            <br-input density="small" name="nome" label="Nome da unidade" formControlName="nome"/>
         </div>
         <div class="col-4">
            <br-input density="small" name="cep" label="CEP" icon="search" (change)="validaCEP()" formControlName="cep"
                      mask="########"/>
         </div>
      </div>

      <!-- rua/numero/bairro -->
      <div class="row mb-2">
         <div class="col-6">
            <br-input density="small" name="rua" label="Rua" formControlName="rua"/>
         </div>
         <div class="col-2">
            <br-input density="small" name="numero" label="Número" formControlName="numero" type="number"/>
         </div>
         <div class="col-4">
            <br-input density="small" name="bairro" label="Bairro" formControlName="bairro"/>
         </div>
      </div>

      <!-- complemento/uf/cidade -->
      <div class="row mb-2">
         <div class="col-4">
            <br-input density="small" name="complemento" label="Complemento" formControlName="complemento"/>
         </div>
         <div class="col-4">
            <div class="br-select">
               <div class="br-input">
                  <label>UF</label>
                  <br>
                  <select (change)="listaCidades(unidade.endereco.uf)" formControlName="uf"
                          >
                     <option selected value="">--- Selecione UF ---</option>
                     <option *ngFor="let r of regioes" [selected]="unidade.endereco.uf === r.sigla"
                             [value]="r.sigla"> {{ r.sigla }} </option>
                  </select>
               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="br-select">
               <div class="br-input">
                  <label>Cidade</label>
                  <br>
                  <select formControlName="cidade" >
                     <option selected value="">--- Selecione cidade ---</option>
                     <option *ngFor="let c of cidades" [selected]="unidade.endereco.cidade === c"
                             [value]="c"> {{ c }} </option>
                  </select>
               </div>
            </div>
         </div>
      </div>

      <!-- latitude/longitude -->
      <div class="row mb-2">
         <div class="col-6">
            <br-input density="small" name="latitude" label="latitude" formControlName="latitude"/>
         </div>
         <div class="col-6">
            <br-input density="small" name="longitude" label="longitude" formControlName="longitude"/>
         </div>
      </div>

      <div class="d-flex justify-content-end mt-4">
         <br-button label="Cancelar" type="secondary" class="mr-2" [routerLink]="'/portal-admin/unidades'"/>
         <br-button label="Salvar" type="primary" (click)="salvar()"/>
      </div>
   </form>

</div>
