<br-breadcrumb [links]="breadcrumb"></br-breadcrumb>
<br-divider size="medium" class="mt-0"></br-divider>
<div class="p-5">
   <h2 class="text-bold text-blue-vivid-60 mt-0 mb-4 pb-0">Cadastrar nova unidade</h2>

   <form [formGroup]="formGroup" (ngSubmit)="salvar()">
      <pnip-validators-forms-utils [formGroup]="formGroup" #validatorsFormsUtils></pnip-validators-forms-utils>
      <!-- tipo/gerenciadora -->
      <div class="row mb-2">
         <div class="col-6">
            <div class="br-select">
               <div class="br-input">
                  <label>Tipo de Unidade</label>
                  <br>
                  <select formControlName="tipo" (change)="selecionaGerenciadora()" class="select">
                     <option *ngFor="let uni of tipoUnidade" [value]="uni.item">{{uni.value}}</option>
                  </select>
               </div>
            </div>
         </div>
         <div class="col-6">
            <ng-container *ngIf="!validarUc">
               <div class="br-select">
                  <div class="br-input">
                     <label>Reporta-se</label>
                     <br>
                     <select formControlName="idUnidadeGerenciadora" >
                        <option *ngFor="let unidade of unidadesGerenciadoras"
                                [value]="unidade.id">{{unidade.nome}}</option>
                     </select>
                  </div>
               </div>
            </ng-container>
         </div>
      </div>

      <!-- nome/cep -->
      <div class="row mb-2">
         <div class="col-8">
            <br-input density="small" name="nome" label="Nome da unidade" formControlName="nome"
                      [attr.state]="validatorsFormsUtils.getStateOfField('nome')"/>
         </div>
         <div class="col-4">
            <br-input density="small" name="cep" label="CEP" icon="search" formControlName="cep" mask="#####-###"
                      [attr.state]="validatorsFormsUtils.getStateOfField('cep')" (change)="validaCEP()" (ngModelChange)="validaCEP()"/>
            <ng-container *ngTemplateOutlet="validatorsFormsUtils.templateValidacao; context: {attr: 'cep'}"></ng-container>

         </div>
      </div>

      <!-- rua/numero/bairro -->
      <div class="row mb-2">
         <div class="col-6">
            <br-input density="small" name="rua" label="Rua" formControlName="rua" [attr.state]="validatorsFormsUtils.getStateOfField('rua')"/>
            <ng-container *ngTemplateOutlet="validatorsFormsUtils.templateValidacao; context: {attr: 'rua'}"></ng-container>
         </div>
         <div class="col-2">
            <br-input density="small" name="numero" label="Número" formControlName="numero" type="number" [attr.state]="validatorsFormsUtils.getStateOfField('rua')"/>
         </div>
         <div class="col-4">
            <br-input density="small" name="bairro" label="Bairro" formControlName="bairro"/>
         </div>
      </div>

      <!-- complemento/uf/cidade -->
      <div class="row mb-2">
         <div class="col-4">
            <br-input density="small" name="complemento" label="Complemento" formControlName="complemento"/>
         </div>
         <div class="col-4">
            <div class="br-select">
               <div class="br-input">
                  <br-input density="small" name="uf" label="UF" formControlName="uf"
                            [attr.state]="validatorsFormsUtils.getStateOfField('uf')"/>
                  <ng-container *ngTemplateOutlet="validatorsFormsUtils.templateValidacao; context: {attr: 'uf'}"></ng-container>

               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="br-select">
               <div class="br-input">
                  <br-input density="small" name="municipio" label="Município" formControlName="cidade"
                            [attr.state]="validatorsFormsUtils.getStateOfField('cidade')"/>
                  <ng-container *ngTemplateOutlet="validatorsFormsUtils.templateValidacao; context: {attr: 'cidade'}"></ng-container>
               </div>
         </div>
         </div>
      </div>
   </form>


   <h2 class="text-bold text-blue-vivid-60 mt-0 mb-4 pb-0">Representante da unidade</h2>

   <pnip-admin-form-representante-unidade sdsdd (newUserEmitter)="receberNovoUsuario($event)"
    #formUser>
   </pnip-admin-form-representante-unidade>

   <div class="d-flex justify-content-end mt-4">
      <br-button label="Cancelar" type="secondary" class="mr-2" [routerLink]="'/portal-admin/unidades'"/>
      <br-button label="Salvar" type="primary" (click)="salvar()"/>
   </div>

</div>
