<br-breadcrumb [links]="breadcrumb"></br-breadcrumb>
<br-divider size="medium" class="mt-0"></br-divider>
<div class="p-5">
   <div class="row">
      <div class="col">
         <h2 class="text-bold text-blue-vivid-60 mt-0 mb-4 pb-0">Unidades</h2>
      </div>
      <div class="col-auto">
         <br-button icon="plus" label="Nova unidade" type="primary" [routerLink]="'/portal-admin/unidades/cadastrar-nova-unidade'"></br-button>
      </div>
   </div>

   <table class="table">
      <thead class="thead-light">
         <tr>
            <th class="text-blue-vivid-60 text-bold" scope="col">Tipo</th>
            <th class="text-blue-vivid-60 text-bold" scope="col">Nome</th>
            <th class="text-blue-vivid-60 text-bold" scope="col">Cidade/UF</th>
            <th class="text-blue-vivid-60 text-bold" scope="col">Data criação</th>
            <th class="text-blue-vivid-60 text-bold text-center" scope="col">Ações</th>
         </tr>
      </thead>
      <tbody *ngFor="let unidade of unidades">
         <tr>
            <td>{{unidade.tipo}}</td>
            <td>{{unidade.nome}}</td>
            <td>{{unidade.endereco.cidade}}/{{unidade.endereco.uf}}</td>
            <td>{{unidade.dataCadastro | date: 'dd/MM/yy'}}</td>
            <td class="text-center">
<!--               <br-icon-base icon-name="eye" family-name="fas" class="mr-2 text-blue-vivid-60" [routerLink]="'/portal-admin/unidades/visualizar-unidade/'+ unidade.uuid"/>-->
               <button class="br-button"><br-icon-base icon-name="pencil-alt" family-name="fas" class="mr-2 text-success" [routerLink]="'editar/' + unidade.uuid"/></button>
               <button class="br-button"><br-icon-base icon-name="times" family-name="fas" class="text-danger" (click)="inativar(unidade.uuid)"/></button>
            </td>
         </tr>
      </tbody>
   </table>

</div>
