<br-breadcrumb [links]="breadcrumb"></br-breadcrumb>
<br-divider size="medium" class="mt-0 mb-0"></br-divider>
<div class="p-5">
   <h2 class="text-bold text-blue-vivid-60 mt-0 mb-4 pb-0">Revisar solicitação</h2>

   <table class="table" *ngIf="solicitacao">
      <thead class="thead-light">
         <tr>
            <th class="text-blue-vivid-60 text-bold" scope="col">Data</th>
            <th class="text-blue-vivid-60 text-bold" scope="col">Tipo de Processo</th>
            <th class="text-blue-vivid-60 text-bold" scope="col">Protocolo</th>
            <th class="text-blue-vivid-60 text-bold" scope="col">Solicitante</th>
            <th class="text-blue-vivid-60 text-bold" scope="col">Status</th>
            <th class="text-blue-vivid-60 text-bold" scope="col" *ngIf="solicitacao.status === 'INDEFERIDA'">
               Motivo indeferimento
            </th>
         </tr>
      </thead>
      <tbody>
         <ng-container>
            <tr>
               <td>{{solicitacao.dataSolicitacao | date :'dd/MM/yyyy'}}</td>
               <td>Habilitação TR</td>
               <td>{{solicitacao.protocolo}}</td>
               <td>{{solicitacao.solicitante}}</td>
               <td>
                  <pnip-status-solicitacao-utils [status]="solicitacao.status"/>
               </td>
               <td *ngIf="solicitacao.status === 'EM_ANALISE'">
                  <br-button icon label="Primary" type="tertiary" circle="true" [active]="statusSolicitacao === 'indeferir'? true: false"
                             (click)="confirmarOperacao('indeferir')">
                     <br-icon-base icon-name="ban" family-name="fas" class="text-danger"/>
                  </br-button>
                  <br-button icon label="Primary" type="tertiary" circle="true" [active]="statusSolicitacao === 'deferir'? true: false"
                             (click)="confirmarOperacao('deferir')">
                     <br-icon-base icon-name="check" family-name="fas" class="text-info"/>
                  </br-button>
               </td>
               <td *ngIf="solicitacao.status === 'INDEFERIDA'">
                  <span>
                     {{solicitacao?.observacao? solicitacao?.observacao: ''}}
                  </span>
               </td>
            </tr>
         </ng-container>
      </tbody>
   </table>

   <div class="row mt-3 mb-2">
      <div class="col-8">
         <br-input density="small" name="nome" label="Nome completo" [value]="metadado?.habilitarTRDTO?.nome" [attr.disabled]="true"/>
      </div>
      <div class="col-4">
         <br-input density="small" name="cpf" label="CPF" mask="###.###.###-##" [value]="metadado?.habilitarTRDTO?.cpf" [attr.disabled]="true"/>
      </div>
   </div>

   <div class="row mb-2">
      <div class="col-7">
         <br-input density="small" name="email" label="E-mail"
               [value]="metadado?.habilitarTRDTO?.email" [attr.disabled]="true"/>
      </div>
      <div class="col-5">
         <br-input density="small" name="telefone" label="Telefone" mask="(##) #-####-####"
               [value]="metadado?.habilitarTRDTO?.telefone" [attr.disabled]="true"/>
      </div>
   </div>

   <div class="row mb-2">
      <div class="col-3">
         <br-input density="small" name="cep" label="CEP" mask="#####-###" [value]="metadado?.habilitarTRDTO?.cep" [attr.disabled]="true"/>
      </div>
      <div class="col-7">
         <br-input density="small" name="logradouro" label="Logradouro"
                   [value]="metadado?.habilitarTRDTO?.logradouro" [attr.disabled]="true"/>
      </div>
      <div class="col-2">
         <br-input density="small" name="numero" label="Número"
                   [value]="metadado?.habilitarTRDTO?.numero" [attr.disabled]="true"/>
      </div>
   </div>

   <div class="row mb-2">
      <div class="col-5">
         <br-input density="small" name="complemento" label="Complemento"
                   [value]="metadado?.habilitarTRDTO?.complemento" [attr.disabled]="true"/>
      </div>
      <div class="col-6">
         <br-input density="small" name="municipio" label="Município"
                   [value]="metadado?.habilitarTRDTO?.municipio" [attr.disabled]="true"/>
      </div>
      <div class="col-1">
         <br-input density="small" name="uf" label="UF"
                   [value]="metadado?.habilitarTRDTO?.uf" [attr.disabled]="true"/>
      </div>
   </div>

   <div class="row mb-2">
      <div class="col-6">
         <br-input density="small" name="formacao" label="Formação"
                   [value]="metadado?.habilitarTRDTO?.formacao" [attr.disabled]="true"/>
      </div>
      <div class="col-2">
         <br-input density="small" name="numHabilitacao" label="Nº da Habilitação"
                   [value]="metadado?.habilitarTRDTO?.numHabilitacao" [attr.disabled]="true"/>
      </div>
      <div class="col-3">
         <br-input density="small" name="conselhoClasse" label="Conselho de classe"
                   [value]="metadado?.habilitarTRDTO?.conselhoClasse" [attr.disabled]="true"/>
      </div>
      <div class="col-1">
         <br-input density="small" name="ufConselho" label="UF/Região"
                   [value]="metadado?.habilitarTRDTO?.ufConselho" [attr.disabled]="true"/>
      </div>
   </div>

   <div class="row mt-3 mb-3">
      <div class="col-6">
         <label>Cópia da Habilitação ou Comprovante de Quitação</label>
         <div class="upload-file mt-1 mb-1 w-100">
            <div class="text-blue-vivid-60 mt-2">
               <strong class="cursor-pointer" (click)="verPdf(metadado?.habilitarTRDTO?.copiaHabilitacao)" [style.cursor]="'pointer'">anexo.pdf</strong>
            </div>
         </div>
      </div>
      <div class="col-6 upload">
         <label>Diploma/Certificado</label>
         <div class="upload-file mt-1 mb-1 w-100">
            <div class="text-blue-vivid-60 mt-2">
               <strong class="cursor-pointer" (click)="verPdf(metadado?.habilitarTRDTO?.diplomaCertificacao)" [style.cursor]="'pointer'">anexo.pdf</strong>
            </div>
         </div>
      </div>
   </div>

   <div *ngIf="responseOperacao" class="mt-3 mb-4">
      <br-message state="warning" title="Atenção" show-icon="true">{{responseOperacao}}.</br-message>
   </div>

   <br-divider size="medium" class="mt-3"></br-divider>
   <div class="d-flex justify-content-end mt-4">
      <br-button label="Fechar" type="secondary" (click)="router.navigate(['/portal-mpa/solicitacoes'])"/>
   </div>

</div>
