<pnip-header/>
<main class="pb-4">
   <router-outlet></router-outlet>
</main>
<pnip-footer/>


<!--
<br-header
  image="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
  signature="Plaforma Nacional da Industria do Pescado"
><br-header-action
  slot="headerAction"
  has-login=""
  label-login="Entrar"
  image-avatar-login="https://picsum.photos/id/823/400"
  title-links="Acesso Rápido"
  title-functions="Funcionalidades do Sistema"
  list-links="[
    {
      name: 'Portal TR',
      href: '#'
    }
  ]"
  list-functions="[
    {
      icon: 'chart-bar',
      name: 'Funcionalidade 1',
      url: '#',
      clickEventName: 'click-funcionalidade-1'
    },
    {
      icon: 'headset',
      name: 'Funcionalidade 2',
      url: '#',
      clickEventName: 'click-funcionalidade-2'
    },
    {
      icon: 'comment',
      name: 'Funcionalidade 3',
      url: '#',
      clickEventName: 'click-funcionalidade-3'
    }
  ]"
></br-header-action
></br-header>


<main class="d-flex flex-fill mb-5">
  <div class="container-fluid">
    <br-breadcrumb
      label="Breadcrumb Curto"
      links="[
    {
      'label': 'Página Inicial',
      'url': '/',
      'target': '_blank',
      'home': true
    },
    {
      'label': 'Página 1',
      'target': '_blank',
      'url': '#'
    },
    {
      'label': 'Página 2',
      'target': '_blank',
      'url': '#'
    },
    {
      'label': 'Página Atual',
      'active': true
    }
  ]"></br-breadcrumb>

    <div class="row justify-content-center mt-3 mb-5">
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <br-input label="Label" placeholder="Placeholder" icon-sign="user"></br-input>
          </div>
          <div class="col-6">
            <br-input label="Label" placeholder="Placeholder" icon-sign="user"></br-input>
          </div>
          <div class="col-6">
            <br-input placeholder="Placeholder" icon-sign="user"></br-input>
          </div>
          <div class="col-6">
            <br-input placeholder="Placeholder" icon-sign="user"></br-input>
          </div>
          <div class="col-6">
            <br-input placeholder="Placeholder" icon-sign="user"></br-input>
          </div>
          <div class="col-6">
            <br-input placeholder="Placeholder" icon-sign="user"></br-input>
          </div>
          <div class="col-6">
            <br-input placeholder="Placeholder" icon-sign="user"></br-input>
          </div>
          <div class="col-6">
            <br-input placeholder="Placeholder" icon-sign="user"></br-input>
          </div>
          <div class="col-12 mt-3 mb-5">
            <br-button icon="" label="Salvar" type="primary"></br-button>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>


<br-footer
  text="Todo o conteúdo deste site está publicado sob a licença ..."
  logo="{
  url: 'https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/images/logo-negative.png',
  description: 'Acesso à informação'
}"
></br-footer>
-->

