<br-breadcrumb [links]="breadcrumb"></br-breadcrumb>
<br-divider size="medium" class="mt-0"></br-divider>
<div class="p-5">
   <ng-container *ngIf="solicitacao">

      <!-- nome/cpf -->
      <div class="row mb-2">
         <div class="col-8">
            <br-input density="small" label="Nome completo" [value]="solicitacao.nome" [attr.disabled]="true"/>
         </div>
         <div class="col-4">
            <br-input density="small" label="CPF" [value]="solicitacao.cpf" [attr.disabled]="true"/>
         </div>
      </div>

      <!-- email/telefone -->
      <div class="row mb-2">
         <div class="col-7">
            <br-input density="small" label="E-mail" [value]="solicitacao.email" [attr.disabled]="true"/>
         </div>
         <div class="col-5">
            <br-input density="small" label="Telefone" [value]="solicitacao.telefone" [attr.disabled]="true"/>
         </div>
      </div>

      <!-- cep/logradouro/numero -->
      <div class="row mb-2">
         <div class="col-3">
            <br-input density="small" label="CEP" [value]="solicitacao.cep" [attr.disabled]="true"/>
         </div>
         <div class="col-7">
            <br-input density="small" label="Logradouro" [value]="solicitacao.logradouro" [attr.disabled]="true"/>
         </div>
         <div class="col-2">
            <br-input density="small" label="Número" [value]="solicitacao.numero" [attr.disabled]="true"/>
         </div>
      </div>

      <!-- complemento/municipio/uf -->
      <div class="row mb-2">
         <div class="col-5">
            <br-input density="small" label="Complemento" [value]="solicitacao.complemento" [attr.disabled]="true"/>
         </div>
         <div class="col-6">
            <br-input density="small" label="Município" [value]="solicitacao.municipio" [attr.disabled]="true"/>
         </div>
         <div class="col-1">
            <br-input density="small" label="UF" [value]="solicitacao.uf" [attr.disabled]="true"/>
         </div>
      </div>

      <!-- formacao/num habilitacao/conselho classe/uf conselho -->
      <div class="row mb-2">
         <div class="col-6">
            <br-input density="small" label="Formação" [value]="solicitacao.formacao" [attr.disabled]="true"/>
         </div>
         <div class="col-2">
            <br-input density="small" label="Nº da Habilitação" [value]="solicitacao.numHabilitacao" [attr.disabled]="true"/>
         </div>
         <div class="col-3">
            <br-input density="small" label="Conselho de classe" [value]="solicitacao.conselhoClasse" [attr.disabled]="true"/>
         </div>
         <div class="col-1">
            <br-input density="small" label="UF/Região" [value]="solicitacao.ufConselho" [attr.disabled]="true"/>
         </div>
      </div>

      <!-- formacao/num habilitacao/conselho classe/uf conselho -->
      <div class="row mb-2">
         <div class="col-6">
            <label>Cópia da Habilitação ou Comprovante de Quitação</label>
            <div class="text-blue-vivid-60 mt-2">
               <strong (click)="verPdf(solicitacao.copiaHabilitacao)" [style.cursor]="'pointer'">anexo.pdf</strong>
            </div>
         </div>
         <div class="col-6">
            <label>Diploma/Certificado</label>
            <div class="text-blue-vivid-60 mt-2">
               <strong (click)="verPdf(solicitacao.diplomaCertificacao)" [style.cursor]="'pointer'">anexo.pdf</strong>
            </div>
         </div>
      </div>

   </ng-container>
   <br-divider size="medium" class="mt-3"></br-divider>
   <div class="d-flex justify-content-end mt-4">
      <br-button label="Fechar" type="secondary" class="mr-2" (click)="voltar()"/>
   </div>

</div>
