<br-breadcrumb [links]="breadcrumb"></br-breadcrumb>
<br-divider size="medium" class="mt-0"></br-divider>
<div class="p-5">
   <ng-container *ngIf="solicitacao">

      <!-- nome/cpf -->
      <div class="row mb-2">
         <div class="col-8">
            <br-input density="small" label="Nome completo" [value]="solicitacao.nome" [attr.readonly]="true"/>
         </div>
         <div class="col-4">
            <br-input density="small" label="CPF" [value]="solicitacao.cpf" [attr.readonly]="true"/>
         </div>
      </div>

      <!-- email/telefone -->
      <div class="row mb-2">
         <div class="col-7">
            <br-input density="small" label="E-mail" [value]="solicitacao.email" [attr.readonly]="true"/>
         </div>
         <div class="col-5">
            <br-input density="small" label="Telefone" [value]="solicitacao.telefone" [attr.readonly]="true"/>
         </div>
      </div>

      <!-- cep/logradouro/numero -->
      <div class="row mb-2">
         <div class="col-3">
            <br-input density="small" label="CEP" [value]="solicitacao.cep" [attr.readonly]="true"/>
         </div>
         <div class="col-7">
            <br-input density="small" label="Logradouro" [value]="solicitacao.logradouro" [attr.readonly]="true"/>
         </div>
         <div class="col-2">
            <br-input density="small" label="Número" [value]="solicitacao.numero" [attr.readonly]="true"/>
         </div>
      </div>

      <!-- complemento/municipio/uf -->
      <div class="row mb-2">
         <div class="col-5">
            <br-input density="small" label="Complemento" [value]="solicitacao.complemento" [attr.readonly]="true"/>
         </div>
         <div class="col-6">
            <br-input density="small" label="Município" [value]="solicitacao.municipio" [attr.readonly]="true"/>
         </div>
         <div class="col-1">
            <br-input density="small" label="UF" [value]="solicitacao.uf" [attr.readonly]="true"/>
         </div>
      </div>

      <!-- formacao/num habilitacao/conselho classe/uf conselho -->
      <div class="row mb-2">
         <div class="col-6">
            <br-input density="small" label="Formação" [value]="solicitacao.formacao" [attr.readonly]="true"/>
         </div>
         <div class="col-2">
            <br-input density="small" label="Nº da Habilitação" [value]="solicitacao.numHabilitacao" [attr.readonly]="true"/>
         </div>
         <div class="col-3">
            <br-input density="small" label="Conselho de classe" [value]="solicitacao.conselhoClasse" [attr.readonly]="true"/>
         </div>
         <div class="col-1">
            <br-input density="small" label="UF/Região" [value]="solicitacao.ufConselho" [attr.readonly]="true"/>
         </div>
      </div>

      <!-- formacao/num habilitacao/conselho classe/uf conselho -->
      <div class="row mb-2">
         <div class="col-6">
            <label>Cópia da Habilitação ou Comprovante de Quitação</label>
            <div class="text-blue-vivid-60 mt-2">{{solicitacao.copiaHabilitacao}}</div>
            <br-divider *ngIf="solicitacao.embarcacoes?.length" size="medium" class="mt-3"></br-divider>
         </div>
         <div class="col-6">
            <label>Diploma/Certificado</label>
            <div class="text-blue-vivid-60 mt-2">{{solicitacao.diplomaCertificacao}}</div>
            <br-divider *ngIf="solicitacao.embarcacoes?.length" size="medium" class="mt-3"></br-divider>
         </div>
      </div>

      <!-- embarcacoes -->
      <ng-container *ngIf="solicitacao.embarcacoes?.length">
         <div class="mt-4 mb-4">
            <table class="table table-sm">
               <thead class="thead-light">
               <tr>
                  <th class="text-blue-vivid-60 text-bold" scope="col">#</th>
                  <th class="text-blue-vivid-60 text-bold" scope="col" [style.white-space]="'nowrap'">Código embarcação</th>
                  <th class="text-blue-vivid-60 text-bold" scope="col" [style.white-space]="'nowrap'">Nome da embarcação</th>
                  <th class="text-blue-vivid-60 text-bold text-center" scope="col">Declaração</th>
               </tr>
               </thead>
               <tbody>
               <tr *ngFor="let e of solicitacao.embarcacoes; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{e.numRgp}}</td>
                  <td>{{e.nome}}</td>
                  <td class="text-center">
                     <br-icon-base icon-name="file" family-name="fas" class="mr-2 text-blue-vivid-60"/>
                  </td>
               </tr>
               </tbody>
            </table>
         </div>
      </ng-container>
   </ng-container>
   <br-divider size="medium" class="mt-3"></br-divider>
   <div class="d-flex justify-content-end mt-4">
      <br-button label="Fechar" type="secondary" class="mr-2" (click)="voltar()"/>
   </div>

</div>
