<div class="row align-items-end">
   <div class="col-4">
      <div class="br-select">
         <div class="br-input">
            <!-- item selecionado -->
            <ng-container *ngIf="embarcacaoSelecionada; else pesquisarEmbarcacao">
               <br-input label="Pesquisar embarcações" readonly="readonly"
                     [value]="embarcacaoSelecionada.numRgp + ' - ' + embarcacaoSelecionada.nome"/>
               <button class="br-button" type="button" (click)="limparSelecionado()">
                  <br-icon-base icon-name="times" family-name="fas"/>
               </button>
            </ng-container>
            <!-- pesquisar -->
            <ng-template #pesquisarEmbarcacao>
               <br-input label="Pesquisar embarcações" icon-sign="search" placeholder="Busque pelo nome, código RAEP ou TIE"
                     [(ngModel)]="filtro" (keyup)="buscarEmbarcacoes()"/>
            </ng-template>
         </div>
         <div class="br-list" tabindex="0" [class.d-block]="embarcacoesFiltro != null">
            <!-- lista embarcacoes -->
            <ng-container *ngIf="embarcacoesFiltro?.length; else embarcacaNaoEncontrada">
               <ng-container *ngFor="let emb of embarcacoesFiltro">
                  <div class="br-item" tabindex="-1" (click)="selecionarEmbarcacao(emb)">
                     <div class="br-radio">
                        <input [id]="emb.id" type="radio" name="embarcacao" [value]="emb.id"/>
                        <label [for]="emb.id">
                           {{emb.numRgp}} - {{emb.nome}}
                        </label>
                     </div>
                  </div>
               </ng-container>
            </ng-container>
            <ng-template #embarcacaNaoEncontrada>
               <div class="br-item" tabindex="-1">
                  <div class="br-radio">
                     <input [id]="null" type="radio" name="embarcacao" [value]="null"/>
                     <label [for]="null">Nenhuma embarcação encontrada</label>
                  </div>
               </div>
            </ng-template>
         </div>
      </div>
   </div>
   <div class="col-auto">
      <br-button class="mb-1" label="Adicionar" type="primary" [disabled]="!embarcacaoSelecionada" (click)="adicionarEmbarcacao()"/>
   </div>
</div>

<!-- embarcoes adicionadas -->
<div class="row mt-4">
   <ng-container *ngFor="let e of dto?.embarcacoes; let i = index;">
      <div class="col-12">
         <br-card>
            <br-card-content slot="content">
               <div class="text-right" [style.margin-bottom]="'-10px'">
                  <br-button circle icon="times" density="small" (click)="removerEmbarcacao(i)"></br-button>
               </div>
               <div class="row">
                  <div class="col-4">
                     <br-input density="small" label="Código da embarcação" [value]="e.numRgp" [attr.readonly]="true"/>
                  </div>
                  <div class="col-2">
                     <br-input density="small" label="Código de frota" [value]="e.frota" [attr.readonly]="true"/>
                  </div>
                  <div class="col-6">
                     <br-input density="small" label="Nome da embarcação" [value]="e.nome" [attr.readonly]="true"/>
                  </div>
                  <!--
                  <div class="col-3">
                     <br-input density="small" label="Proprietário" [value]="e.proprietario" [attr.readonly]="true"/>
                  </div>
                  -->
               </div>
               <div class="row mt-2">
                  <div class="col-6">
                     <label>Declaração do proprietário</label>
                     <div class="upload-file mt-1 mb-1 w-100" (click)="openDeclaracaoProprietarioUpload(i)">
                        <div class="text-blue-vivid-60 pt-1 pb-1">
                           <br-icon-base icon-name="upload" family-name="fas" class="ml-2"/> <i> Selecione o arquivo</i>
                        </div>
                     </div>
                     <br-message *ngIf="isSubmit && !e?.declaracaoProprietario" feedback state="danger" show-icon="true">
                        Envio obrigatório
                     </br-message>
                     <br-message *ngIf="e?.declaracaoProprietario" feedback state="success" show-icon="true">
                        Arquivo selecionado
                     </br-message>
                  </div>
               </div>
            </br-card-content>
         </br-card>
      </div>
   </ng-container>
   <input #declaracaoProprietarioInput type="file" accept="application/pdf" class="d-none" (change)="onDeclaracaoProprietarioSelected($event)">
</div>
<br-divider size="medium" class="mt-0"></br-divider>
<div class="d-flex justify-content-end mt-4">
   <br-button label="Voltar" type="secondary" class="mr-2" (click)="onBackToStepEvent.emit()"/>
   <br-button label="Avançar" type="primary" (click)="submit()"/>
</div>
