<div class="tab-panel mt-3 pt-3">
   <div class="col">
      <div class="br-table" title="Solicitações em análise">
         <table class="table" *ngIf="solicitacoes.length">
            <thead class="thead-light">
               <tr>
                  <th class="text-blue-vivid-60 text-bold" scope="col">Data</th>
                  <th class="text-blue-vivid-60 text-bold" scope="col">Tipo de Processo</th>
                  <th class="text-blue-vivid-60 text-bold" scope="col">Protocolo</th>
                  <th class="text-blue-vivid-60 text-bold" scope="col">Solicitante</th>
                  <th class="text-blue-vivid-60 text-bold" scope="col">Status</th>
                  <th class="text-blue-vivid-60 text-bold" scope="col"></th>
               </tr>
            </thead>
            <tbody>
               <ng-container *ngFor="let solicitacao of solicitacoes; let i = index;">
                  <tr>
                     <td>{{solicitacao.dataSolicitacao | date :'dd/MM/yyyy'}}</td>
                     <td>Habilitação TR</td>
                     <td>{{solicitacao.protocolo}}</td>
                     <td>{{solicitacao.solicitante}}</td>
                     <td>
                        <pnip-status-solicitacao-utils [status]="solicitacao.status"/>
                     </td>
                     <td (click)="findSolicitacao(solicitacao.uuidSolicitacao)">
                        <br-button icon label="Primary" type="tertiary" circle="true">
                           <br-icon-base icon-name="eye" family-name="fas" class="text-info"/>
                        </br-button>
                     </td>
                  </tr>
               </ng-container>
            </tbody>
         </table>

         <div *ngIf="solicitacoes.length === 0">
            <p>Nenhum resultado encontrado.</p>
         </div>

      </div>
   </div>
</div>
