<div class="br-step pt-2 pb-5" data-initial="1" data-label="bottom">
   <div class="step-progress">
      <ng-container *ngFor="let step of steps; let i = index">
         <button class="step-progress-btn" type="button" (click)="goToStep(step.id)" [attr.step-num]="i + 1"
               [attr.active]="active === step.id ? 'active' : null"
               [attr.disabled]="step.enabled ? null : 'disabled'"
               [attr.data-alert]="step.done ? 'success' : null">
            <span class="step-info" [class.disabled]="!step.enabled">{{step.title}}</span>
            <span class="step-alert"></span>
         </button>
      </ng-container>
   </div>
</div>

<ng-container [ngSwitch]="active">
   <div *ngSwitchCase="'dados-pessoais'">
      <pnip-tr-form-dados-pessoais [dto]="dto" (onSaveStep)="onSaveStep()" #dadosPessoais/>
   </div>
   <div *ngSwitchCase="'dados-profissionais'">
      <pnip-tr-form-dados-profissionais [dto]="dto" (onSaveStep)="onSaveStep()" (onBackToStepEvent)="backToStep()" #dadosProfissionais/>
   </div>
   <div *ngSwitchCase="'revisar-solicitacao'">
      <pnip-tr-form-revisar-solicitacao [dto]="dto" (onSaveEvent)="onSaveAll()" (onBackToStepEvent)="backToStep()"/>
   </div>
</ng-container>
